<template>

    <div class="modal" v-bind:class="{ show: showModal }" tabindex="-1" role="dialog">

        <div class="modal-dialog" role="document">

            <div class="modal-content">

                <div class="modal-header">

                    <h5 class="modal-title">Create new credential</h5>

                    <button type="button" class="close" @click="closeModal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>

                <div class="modal-body">

                    <form @submit.prevent="saveCredential">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input v-model="form.name" type="text" class="form-control" id="name" name="name"
                                   placeholder="Name of the credential" required>
                            <p class="invalid-feedback" v-if="form.errors.has('name')">
                                {{ form.errors.get('name') }}
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="url">URL</label>
                            <input v-model="form.url" type="url" class="form-control" id="url" name="url"
                                   placeholder="URL of the website">
                            <p class="invalid-feedback" v-if="form.errors.has('url')">
                                {{ form.errors.get('url') }}
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="username">Username/email</label>
                            <input v-model="form.username" type="text" class="form-control" id="username"
                                   name="username" placeholder="Username/email" required>
                            <p class="invalid-feedback" v-if="form.errors.has('username')">
                                {{ form.errors.get('username') }}
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input v-model="form.password" type="text" class="form-control" id="password"
                                   name="password" placeholder="Password" required>
                            <p class="invalid-feedback" v-if="form.errors.has('password')">
                                {{ form.errors.get('password') }}
                            </p>
                        </div>
                        <div class="float-right">
                            <button type="button" class="btn btn-secondary" @click="closeModal">Cancel</button>
                            <button type="button" class="btn btn-primary" @click="saveCredential">
                                Save credential
                            </button>
                        </div>
                    </form>

                </div>

            </div>

        </div>

    </div>

</template>

<script>

  import api from './../api';
  import Form from './../forms/Form';

  export default {
    data() {
      return {
        showModal: false,
        edit: false,
        credential: null,
        form: new Form({
          name: null,
          url: null,
          username: null,
          password: null,
        }),
      }
    },

    created() {
      this.$vueEventBus.$on('newCredential', () => {
        this.form.reset();
        this.openModal();
      });

      this.$vueEventBus.$on('editCredential', (credential) => {
        this.credential = credential;

        this.fetchPassword(credential).then((password) => {
          this.form = new Form({
            name: credential.name,
            url: credential.url,
            username: credential.username,
            password: password,
          });

          this.edit = true;
          this.openModal();
        });
      });
    },

    methods: {
      openModal() {
        this.showModal = true;
      },

      closeModal() {
        this.showModal = false;
      },

      fetchPassword(credential) {
        return api.get('/api/credentials/' + credential.id + '/password').then((response) => {
          return response.data.password;
        });
      },

      saveCredential() {
        let url = '/api/credentials';
        let method = 'post';

        if (this.edit === true) {
          url = '/api/credentials/' + this.credential.id;
          method = 'patch';
        }

        this.form.submit(method, url).then((response) => {
          this.edit === true
            ? this.$vueEventBus.$emit('credentialUpdated', response.credential)
            : this.$vueEventBus.$emit('credentialCreated', response.credential);

          this.closeModal();
        });
      }
    }
  }
</script>
