<template>

    <div class="search-form">
        <input v-model="search" class="form-control" type="search" name="search" aria-label="Search"
               placeholder="Search for credentials">
        <span @click="clearSearch"><font-awesome-icon icon="times-circle" /></span>
    </div>

</template>

<script type="text/babel">

  export default {
    computed: {
      search: {
        get() {
          return this.$store.state.search;
        },
        set(value) {
          this.$store.commit('search', value);
        }
      },
    },

    methods: {
      clearSearch() {
        this.search = '';
      }
    }
  }

</script>
