<template>

    <div class="credentials">

        <div v-if="loading" class="credentials-loader">
            <font-awesome-icon icon="spinner" spin />
        </div>

        <div class="credentials-grid" v-else>

            <p>Showing <strong>{{ count }}</strong> credentials</p>

            <div v-for="(credentialsByLetter, letter) in credentialsByLetters">

                <h4 class="credentials-letter">{{ letter }}</h4>

                <div class="row">

                    <div class="col-4" v-for="credential in credentialsByLetter">

                        <credential :credential="credential"></credential>

                    </div>

                </div>

            </div>

        </div>

    </div>

</template>

<script type="text/babel">

  import _ from 'lodash';
  import api from '../api';
  import Credential from './../components/Credential';

  export default {
    components: {
      Credential
    },

    data() {
      return {
        credentials: [],
        count: 0,
        loading: false,
      }
    },

    created() {
      this.loading = true;
      this.fetchCredentials();

      this.$vueEventBus.$on('credentialCreated', (credential) => {
        this.credentials.push(credential);
      });

      this.$vueEventBus.$on('credentialUpdated', (credential) => {
        this.credentials = this.credentials.filter((item) => {
          return item.id !== credential.id;
        });

        this.credentials.push(credential);
      });

      this.$vueEventBus.$on('credentialDeleted', (credential) => {
        this.credentials = this.credentials.filter((item) => {
          return item.id !== credential.id;
        });
      });
    },

    computed: {
      credentialsByLetters() {
        let credentials = this.credentials;
        let search = this.$store.state.search.toLowerCase();

        if (search !== '') {
          credentials = _.filter(credentials, (item) => {
            return item.name.toLowerCase().indexOf(search) >= 0
              || item.username.toLowerCase().indexOf(search) >= 0
              || item.url.toLowerCase().indexOf(search) >= 0;
          });
        }

        credentials = _.sortBy(credentials, (item) => {
          return item.name;
        });

        this.count = credentials.length;

        return _.groupBy(credentials, (item) => {
          return item.name.toLowerCase().charAt(0);
        });
      },
    },

    methods: {
      fetchCredentials() {
        api.get('/api/credentials').then((response) => {
          this.credentials = response.data.credentials;
          this.count = this.credentials.length;
          this.loading = false;
        });
      },
    }
  }

</script>
