<template>

    <div class="container">

        <div class="row justify-content-center align-items-center">

            <div class="col-12 col-md-6 col-lg-4 col-centered register">

                <h1>Login</h1>

                <div class="alert alert-danger" role="alert" v-if="errors">
                    Whoops! Make sure you use the correct credentials to login.
                </div>

                <form @submit.prevent="login">

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input v-model="email" type="email" class="form-control" id="email" name="email" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input v-model="password" type="password" class="form-control" id="password" name="password"
                               required>
                    </div>

                    <button type="submit" class="btn btn-primary">Login</button>

                </form>

            </div>

        </div>

    </div>

</template>

<script type="text/babel">

  import api from '../api';

  export default {
    data() {
      return {
        email: null,
        password: null,
        errors: false,
      }
    },

    methods: {
      login() {
        api.post('/api/auth/login', {
          email: this.email,
          password: this.password,
        }).then(response => {
          this.$store.commit('loginUser');

          localStorage.setItem('token', response.data.access_token);

          this.$router.push({
            name: 'dashboard'
          });
        }).catch(error => {
          this.errors = true;
        });
      },
    },
  }

</script>
