<template>

    <div class="container">

        <div class="row justify-content-center align-items-center">

            <div class="col-12 col-md-6 col-lg-4 col-centered">

                <h1>Register</h1>

                <div class="alert alert-danger" role="alert" v-if="errors">
                    Whoops! Make sure you use the correct information to register!
                </div>

                <form @submit.prevent="register">

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input v-model="name" type="text" class="form-control" id="name" name="name" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input v-model="email" type="email" class="form-control" id="email" name="email" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input v-model="password" type="password" class="form-control" id="password" name="password"
                               required>
                    </div>

                    <div class="form-group">
                        <label for="password_confirmation">Password</label>
                        <input v-model="password_confirmation" type="password" class="form-control"
                               id="password_confirmation" name="password_confirmation" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Register</button>

                </form>

            </div>

        </div>

    </div>

</template>

<script type="text/babel">

  import api from '../api';

  export default {
    data() {
      return {
        name: null,
        email: null,
        password: null,
        password_confirmation: null,
        errors: false,
      }
    },

    methods: {
      register() {
        api.post('/api/auth/register', {
          name: this.name,
          email: this.email,
          password: this.password,
          password_confirmation: this.password_confirmation,
        }).then(response => {
          console.log(response)
          this.$store.commit('loginUser');

          localStorage.setItem('token', response.data.access_token);

          this.$router.push({
            name: 'dashboard'
          });
        }).catch(error => {
          this.errors = true;
        });
      },
    },
  }

</script>
