.credentials {

  .credentials-letter {
    color: $grey;
    text-transform: uppercase;
  }

  .credential-card {
    margin-bottom: 30px;

    .card-body {
      font-size: 0.875rem;

      .label {
        letter-spacing: 0.9px;
      }

      .value {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.credentials-loader {
  text-align: center;
  margin-top: 2.5rem;
  font-size: 5rem;
}

.invalid-feedback {
  display: block !important;
}
