.navbar {
  margin-bottom: 1rem;
}

.search-form {
  min-width: 400px;
  position: relative;

  input {
    width: 100%;
  }

  span {
    position: absolute;
    top: 4px;
    right: 10px;
    font-size: 20px;
  }
}
