<template>

    <div>

        <navigation></navigation>

        <router-view></router-view>

        <credential-form v-if="$store.state.isLoggedIn"></credential-form>

    </div>

</template>

<script type="text/babel">

  import CredentialForm from './components/CredentialForm';
  import Navigation from './components/Navigation';

  export default {
    name: 'app',

    components: {
      CredentialForm,
      Navigation,
    },
  }
</script>
